<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Family</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <script defer src="../script.js"></script>
</head>

<body>
    <div id="app">
        <!-- NAVBAR-->
        <nav class="navbar navbar-light navbar-expand-lg bg-body-secondary" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <!-- Shows account type -->
                <a class="navbar-brand" href="disastersNearMe.html">SafeMe (Public)</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Navbar tabs for Public UI -->
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="disastersNearMe.html">Disasters Near Me</a>
                            <!-- <a v-else class="nav-link" aria-current="page" href="#">Disasters Near Me</a> -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="myFamily.html">My Family</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="volunteerPublic.html">Volunteer to Help</a>
                        </li>
                    </ul>

                    <!-- Navbar tabs for Gvmt UI -->
                    <!-- <ul v-else class="navbar-nav me-auto mb-2 mb-lg-0"></ul> -->
                    <!-- Switches between account types -->
                    <button class="btn btn-outline-primary"
                        onclick="location.href='../gov/countryDisasters.html'">Switch to Government (for demo
                        purpose)</button>
                </div>
            </div>
        </nav>

        <!-- CARD Group -->
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div v-for="(member, index) in this.family">
                    <h2 v-if="member.face == 'Inactive'">Please reload page or activate User + Disaster microservices
                        with WAMP!</h2>
                </div>
                <div v-for="(member, index) in this.family"
                    class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mx-2 my-4">
                    <img v-if="this.face == 'Active'" class="card-img-top" src="../img/you.png" alt="Card image cap">
                    <img v-if="member.face == 'Inactive'" class="card-img-top" src="../img/you.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">{{member.userName}}</h4>
                        <div class="card-text list-group list-group-flush">
                            <div class="list-group-item">Contact: {{member.contact}}</div>
                            <div class="list-group-item">Email: {{member.email}}</div>
                            <div class="list-group-item">
                                Status:
                                <strong v-if="member.status == 'injured'"
                                    class="text-warning text-capitalize">{{member.status}}</strong>
                                <strong v-else-if="member.status == 'pending'"
                                    class="text-secondary text-capitalize">{{member.status}}</strong>
                                <strong v-else-if="member.status == 'safe'"
                                    class="text-success text-capitalize">{{member.status}}</strong>
                                <strong v-else class="text-danger">{{member.status}}</strong>
                            </div>
                            <div class="list-group-item">Last Known Location: {{member.lastKnownCity}}</div>
                        </div>

                        <div v-if="member.status == 'injured'"
                            class="card-body d-flex align-items-center justify-content-center">
                            <button type="button" class="btn btn-primary mt-3" :id="member.userID"
                                :disabled="isDisabled(index)" @click="disableOnClick(index)">Escalate to
                                government</button>
                        </div>
                        <div v-else-if="member.status == 'pending'"
                            class="card-body d-flex align-items-center justify-content-center">
                            <button type="button" disabled class="btn btn-primary mt-3" :id="member.userID"
                                :disabled="isDisabled(index)" @click="disableOnClick(index)">Escalate to
                                government</button>
                        </div>
                        <div v-else-if="member.status == 'safe'"
                            class="card-body d-flex align-items-center justify-content-center">
                            <button type="button" disabled class="btn btn-primary mt-3" :id="member.userID"
                                :disabled="isDisabled(index)" @click="disableOnClick(index)">Escalate to
                                government</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SUBMISSION TOAST -->
    <div v-for="member in this.family" class="toast-container position-fixed bottom-0 end-0 p-3">
        <div :id="member.userName" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Escalation was successful</strong>
                <small>Just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{member.userName}}'s status has been escalated to the government!
            </div>
        </div>
    </div>
    </div>

    <script>
        const user_URL = "http://localhost:5001/user/family/1";
        const location_URL = "http://localhost:5001/location/all";
        const affected_users_URL = "http://localhost:5002/affected";

        const app = Vue.createApp({
            data() {
                return {
                    family: [
                        {
                            // Create placeholder data for testing or unavailable data
                            userID: 0,
                            userName: "Loading...",
                            contact: "Loading...",
                            email: "Loading...",
                            status: "Loading...",
                            lastKnownCity: "Loading...",
                        }
                    ],
                    message: "なにか入力してください",
                    face: "Inactive"
                }
            },

            // Attempt to disable button on-click
            computed: {
                //an array of booleans that will be used in disable() method to disable buttons on click
                isReportedArr() {
                    var reportsArr = Array()
                    for (member of this.family) {
                        //if user is okay, button should be disabled by default
                        if (member.status != 'Okay') {
                            reportsArr.push(false)
                        }
                        else {
                            reportsArr.push(true)
                        }
                    }
                    return reportsArr
                }
            },

            methods: {
                async getAllUsers() {
                    await fetch(user_URL)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error("Error fetching user data");
                            }
                            return response.json();
                        })
                        .then(data => {
                            this.family = data.data;
                            // console.log(this.family);
                            fetch(affected_users_URL)
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error("Error fetching affected user data");
                                    }
                                    return response.json();
                                })
                                .then(data => {
                                    for (member of this.family) {
                                        this.face = "Active";
                                        for (user of data.data) {
                                            if (member.userID == user.userID) {
                                                member.status = user.status;
                                                // console.log(member.status);
                                            }
                                        }
                                    }
                                })
                                .catch(error => {
                                    console.log(error);
                                });
                        })
                        .catch(error => {
                            console.log(error);
                        });

                    axios.get(location_URL)
                        .then(response => {
                            // console.log(response.data.data)
                            for (member of this.family) {
                                // console.log(JSON.stringify(member.userID))
                                member.lastKnownCity = "Unknown";
                                for (location_row of response.data.data) {
                                    if (member.userID == location_row.userID) {
                                        member.lastKnownCity = location_row.country + ", " + location_row.city;
                                        // console.log(member.lastKnownCity);
                                    }
                                }
                            }
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },


                //disables button onclick
                isDisabled(index) {
                    return this.isReportedArr[index]
                },
                //get family photo
                // getPhoto(member){
                //     return member.photo
                // }

                //disables escalate button onclick
                // disableOnClick(index){
                //     if (this.isReportedArr[index] == false){
                //         this.isReportedArr[index] = true
                //         this.isDisabled(index)
                //     }
                // }
            },
            mounted() {
                // on Vue instance created, load the user list
                this.getAllUsers();
            },
        })
        app.mount('#app')
    </script>

    <!-- Bootstrap Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>