<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Volunteer List</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <!-- Datatables for table styling -->
    <link
      href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"
      rel="stylesheet"
    />

    <!-- Datatables JS scripts -->
    <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script
      defer
      src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"
    ></script>
    <script
      defer
      src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"
    ></script>
    <script defer src="../script.js"></script>
  </head>

  <body>
    <div id="app">
      <nav
        class="navbar navbar-light navbar-expand-lg bg-body-secondary"
        style="background-color: #e3f2fd"
      >
        <div class="container-fluid">
          <!-- Shows account type -->
          <a class="navbar-brand" href="countryDisasters.html"
            >SafeMe (Government)</a
          >

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar tabs for Gvmt UI -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <!-- Switches between account types -->
            <button
              class="btn btn-outline-primary"
              onclick="location.href='../public/disastersNearMe.html'"
            >
              Switch to Public (for demo purpose)
            </button>
          </div>
        </div>
      </nav>

      <div class="container my-5">
        <!-- BREADCRUMBS -->
        <div class="container my-4 mx-0">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="countryDisasters.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                View Volunteers
              </li>
            </ol>
          </nav>
        </div>

        <!-- VOLUNTEER EVENT HEADER VIEW MODE -->
        <div
          v-if="!inEditMode"
          class="d-flex flex-row align-items-center gap-3"
        >
          <div class="pr-3 pr-3 me-auto">
            <h3 class="my-4">{{volunteerEventName}}</h3>
          </div>
          <div class="">
            <button
              type="button"
              class="btn btn-primary"
              @click="this.switchModes"
            >
              Edit Volunteer Event Name
            </button>
          </div>
        </div>

        <!-- VOLUNTEER EVENT HEADER EDIT MODE -->
        <div v-else class="d-flex flex-row align-items-center gap-3">
          <div class="pr-3 pr-3 me-auto">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                >Enter new volunteer event name</span
              >
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                aria-label="Username"
                aria-describedby="basic-addon1"
                v-model="this.volunteerEventName"
              />
            </div>
          </div>
          <div class="">
            <button
              type="button"
              class="btn btn-primary"
              @click="this.switchModes"
            >
              Save Changes
            </button>
          </div>
        </div>
        <!-- DISASTER TABLE FOR VOLUNTEERS -->
        <table
          id="example"
          class="table table-striped my-auto"
          style="width: 100%"
        >
          <thead>
            <tr>
              <th>User ID</th>
              <th>Name</th>
              <th>Current Country, City</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(volunteer, index) in this.volunteers">
              <td>{{volunteer.userID}}</td>
              <td>{{volunteer.userName}}</td>
              <td>{{volunteer.country}}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-link"
                  :disabled="volunteer.isCalled"
                  @click="volunteered(index)"
                >
                Contact Volunteer
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script>
      // Fetch existing URL
      const current_URL = window.location.href;
      //extract disasterID from URL
      const disasterID = current_URL.split("=")[1];
      const disaster_URL = "http://localhost:5002/disaster"
      const volunteer_event_URL = "http://localhost:5003/volunteer/event";
      const volunteer_URL = "http://localhost:5003/volunteer";
      const location_URL = "http://localhost:5001/location/all";

      const app = Vue.createApp({
        data() {
          return {
            sample_volunteers: [
              {
                key1: "999",
                key2: "999999",
                userID: "001",
                name: "A",
                country: "Singapore, Singapore",
                isCalled: false,
              },
              {
                userID: "002",
                name: "B",
                country: "Singapore, Singapore",
                isCalled: false,
              },
              {
                userID: "003",
                name: "C",
                country: "Singapore, Singapore",
                isCalled: true,
              },
              {
                userID: "004",
                name: "D",
                country: "Singapore, Singapore",
                isCalled: true,
              },
            ],
            volunteers: [],
            volunteerEventName: "Loading...",
            inEditMode: false,
          };
        },

        methods: {
          //disables the 'call up' button upon click
          volunteered(index) {
            this.volunteers[index].isCalled = true;
          },

          // toggles between edit mode and view mode
          switchModes() {
            this.inEditMode = !this.inEditMode;
          },

          // fetches all volunteers from the database
          fetchVolunteers() {
            axios
              .get(disaster_URL)
              .then((response) => {
                console.log(response.data.data);
                // Loop through disasters and check against disasterID
                for (var i = 0; i < response.data.data.length; i++) {
                  if (response.data.data[i].disasterID == disasterID) {
                    this.volunteerEventName = response.data.data[i].disasterName;
                  }
                }
              })
              .catch((error) => {
                console.log(error);
              });

            axios
              .get(volunteer_URL)
              .then((response) => {
                console.log(response.data);
                this.volunteers = response.data.volunteers;
                axios
                  .get(location_URL)
                  .then((response) => {
                    console.log(response.data.data);
                    location_data = response.data.data;
                    // Loop through volunteers and check against location data with userID
                    for (var i = 0; i < this.volunteers.length; i++) {
                      for (var j = 0; j < location_data.length; j++) {
                        if (
                          this.volunteers[i].userID == location_data[j].userID
                        ) {
                          this.volunteers[i].country =
                            location_data[j].country +
                            ", " +
                            location_data[j].city;
                        }
                      }
                    }
                  })
                  .catch((error) => {
                    console.log(error);
                  });
              })
              .catch((error) => {
                console.log(error);
              });
          },
        },
        mounted() {
          this.fetchVolunteers();
          console.log(current_URL)

        },
      });
      app.mount("#app");
    </script>

    <!-- Bootstrap Bundle -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
